body {
    max-width: 820px;
    margin: 0 auto;
}

header,
footer {
    background-color: rgb(139, 152, 187);
    color: rgb(0, 0, 0);
    padding: 1em;
    padding-left: 75px;
    border-radius: 10px 10px 10px 10px;
}

footer {
    font-size: 9px;
    font-family: 'Libre Franklin', sans-serif;

}

header{
    font-family: 'Anton', sans-serif;
}

header img {
    width: 220px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgb(77, 77, 77);
}

html {
    background-color: rgb(201, 201, 209);
}

main {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    padding-left: 110px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}

.mainheading {
    padding-left: 75px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}