@media only screen and (min-width: 32.5em) { 
    footer {
        font-size: 12px;
    }

    ul {
        font-size: 14px;
    }
    .mainheading {
        font-size: 16px;
    }

    header img {
        float: right;
        width: 220px;
        margin-top: 0px;
        margin-right: 60px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 5px 5px 5px rgb(77, 77, 77);
    }

} 