header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    background-color: #83c5be;
    color: #002529;
    padding: 20px;
}

header img {
    width: 125px;
    height: auto;
    padding-right: 10px;
}

.headings {
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #002529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', serif;
    text-align: center;
}

nav {
    background-color: #002529;
    color: #edf6f9;
    font-family: 'Montserrat', sans serif;
    width: 100%;
}

nav ul.hidden {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #edf6f9;
}

nav ul li a {
    display: block;
    padding: 0.8rem;
    text-align: center;
    text-decoration: none;
    color:#edf6f9;
    border-top: 1px solid rgb(255, 255, 255)
}

nav ul li.active a {
    background-color:  #83c5be;
    color: #002529;
}

nav ul li a:hover {
    background-color: #e29578;
    color: #002529;
}

footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #83c5be;
    color: #002529;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

footer p {
    margin: .5em;
}

footer a {
    font-size: 20px;
    text-decoration: none;
    color: #002529 ;
}

footer a:hover {
    font-size: 20px;
    padding: 0;
    background-color: #ffddd2;
    color: #002529;
}

body {
    background-image: linear-gradient(white, #ffddd2, white);
}

.heroimg {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    display: block;
}

.mostly-main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

main {
    font-family: 'Montserrat', sans-serif;
    color: #002529;
}

main h2 {
    text-align: center;
    font-size: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.join-now {
    font-size: 20px;
    background-color: #e29578;
    color: #002529;
    border: 3px solid #002529;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    width: 25%;
    margin: 0 auto;
    text-decoration: none;
}

.join-now a {
    text-decoration: none;
    color: #002529;
}

.join-now a:hover{
    background-color:#002529;
    color: #e29578;
}

.mission h3, .upcomingevents h3, .forecast h3, .highlights h2, .weather-corner h3 {
    font-size: 20px;
    margin-top: 25px;
    border: 3px solid #002529;
    padding: 10px;
}



table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
}

td img {
    width: 25px;
    height: auto;
}

table tr th,
table tr td {
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
}



.box section img {
    border-radius: 7px;
    width: 150px;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.box img {
    width: 150px;
}

.box {
    text-align: center;
    display: grid;
    grid-gap: 15px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.box section {
    margin: auto;
    background-color: #e29578;
    width: 90%;
    height: auto;
}

.box h3 {
    margin-bottom: 10px;
}

.box p {
    font-size: 17px;
}

/* Alert box*/

/* The alert message box */
.weather-alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    display: none;
  }
  
  /* The close button */
  .weather-alert.closebutton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .weather-alert.closebutton:hover {
    color: black;
  }